#chatlog p b{
  margin-right: 6px;
}

#chatlog{
  width : 600px;
  height: 300px;
  overflow: auto;

}

.serverMessage{
  font-style: italic;
}

.mention{
  background-color: WhiteSmoke;
}

.mentionedName{
  font-weight: 700;
  /*color : red;*/
}